body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/big-thach-hero.jpg);
    background-position: center;
    background-size: cover;
    color: antiquewhite;
    height: 430px;
    padding: 20px;
}

#hero-title {
    background: #272B26;
    padding: 5px 20px;
    margin: 0 0 11px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
}

#hero-subtitle {
    background: #8B6841;
    max-width: 450px;
    padding: 8px 6px;
    margin: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
}

/* general style for the section */
#activities {
    background-color: #D9BFCB;
    color: #272B26;
    padding: 40px 20px;
}

#activities h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

#activities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.activity-item {
    width: 200px;
}

.activity-item h3 {
    margin: 15px 0 0 0;
    font-size: 1.1em;
}

.img-item {
    width: 150px;
    border-radius: 50%;
    border: 2px solid antiquewhite;
}