* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: #2B283A;
    letter-spacing: -0.05em;
    line-height: 40px;
}

p {
    color: #6B7280;
    margin-top: 10px;
    font-size: 1.3rem;
}

.divider {
    border: none;
    height: 1px;
    background-color: #D5D4D8;
    margin: 35px 0;
}

#block {
    display: block;
    color: #10B981;
}

#container {
    width: 550px;
    height: 550px;
    padding: 115px 50px;
    background-color: #ECFDF5;
}

#generate-btn {
    border-radius: 6px;
    border: none;
    background-color: #10B981;
    color: white;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 50px;
    font-size: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

#generate-btn:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

#generate-btn:active {
    transform: translateY(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#passwords-container {
    display: flex;
    gap: 20px;
}

.password-box {
    flex: 1; /* Each box takes equal share of available space */
    background-color: #273549;
    color: #5DEF92;
    padding: 10px 15px;
    min-height: 39px; 
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 600px) {
  #container {
    width: 90%;
    height: auto;
    padding: 3rem 1.5rem;
  }

  h1 {
    font-size: 2rem;
    line-height: 2.2rem;
  }

  #generate-btn {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
}
